<div class="bg-gray-900">
  <div class="w-full h-screen">
    <div class="flex h-screen">
      <div class="m-auto flex flex-col gap-6">
        <div type="" class="text-lg text-white font-bold">
          Select Your Account Type
        </div>
        <!-- Orange Button -->

        <%=link_to "Costumer" , new_costumer_path ,class: "flex justify-center border-2 border-yellow-600 rounded-lg px-3 py-2 text-yellow-400 cursor-pointer hover:bg-yellow-600 hover:text-yellow-200"%>


        <!-- Orange Button -->

        <%= link_to "Shop", new_shop_path , class:"flex justify-center border-2 border-blue-600 rounded-lg px-3 py-2 text-blue-400 cursor-pointer hover:bg-blue-600 hover:text-blue-200"%>


        <!-- Green Button -->
        <div class="flex justify-center border-2 border-green-600 rounded-lg px-3 py-2 text-green-400 cursor-pointer hover:bg-green-600 hover:text-green-200">
          Delivery
        </div>



        <!-- Dark Button -->

        <%= link_to "Cancel" , root_path  , class: "flex justify-center border-2 border-gray-800 rounded-lg px-3 py-2 text-gray-400 cursor-pointer hover:bg-gray-800 hover:text-gray-200"%>


      </div>
    </div>
  </div>
</div>